html,
body {
  height: 100%;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#first_container{
  padding: 60px 15px 0;
}

